.more_info {
  position: relative;
}

.more_info.hightlight {
  font-weight:bold;
  color:red;
}

.more_info .tooltip {
  position: absolute;
  background: silver;
  padding: 4px;
  left: 0;
  white-space: nowrap;
  z-index: 1;
  font-weight:normal;
  color:black;
}
